# Redirect the direnv layout directory to the user's home cache directory
# since exFAT does not support the symbolic links required by nix-direnv.
: ${XDG_CACHE_HOME:=$HOME/.cache}
declare -A direnv_layout_dirs

direnv_layout_dir() {
  echo "${direnv_layout_dirs[$PWD]:=$( 
    echo -n "$XDG_CACHE_HOME"/direnv/layouts/
    echo -n "$PWD" | sha1sum | cut -d ' ' -f 1 
  )}"
}

use flake ./dev
